[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
pylint = "*"
autopep8 = "*"

[packages]
dnl = {editable = true, path = "."}

[requires]
python_version = "3.8"
